body {
  height: 350px;
  width: 350px;
  background-color: #0b0c1b;
  color: #fff;
  font: 500 1.5rem/1.75 "Inter", sans-serif;
  font-size: 12px;
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}

.inputBox{
  padding-top: 6px;
}

#txt1{
  line-height:24px;
 }
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImg {
  padding: 10px;
}

.logoText {
  padding-right: 30px;
  font-size: 20px;
}

.status {
  padding-bottom: 5px;
}
.status2 {
  padding-bottom: 5px;
}

.Header {
  padding: 0px;
  margin: 0;
  font-size: 20px;
}

.wptk {
  border-radius: 2px;
  background-color: #fff;
  outline: solid;
  border: solid 3px white;
  color: #000;
  padding: 5px 5px;
  margin: 0px 0;
  box-sizing: border-box;
}

hr.solid {
  border-top: 3px solid black;
  color: #000;
}

.wptk:focus {
  color: red;
}
.link {
  color: #fff;
  text-decoration: none;
  background: #e33b3b;
  border-radius: 4px;
  padding: 5px;
  transition-duration: 0.3s;
}

.link:hover,
.link:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.save {
  cursor: pointer;
  border: none;
  color: #fff;
  text-decoration: none;
  background: red;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition-duration: 0.3s;
}
.save2 {
  cursor: pointer;
  border: none;
  color: #fff;
  text-decoration: none;
  background: red;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  transition-duration: 0.3s;
}

.save2:hover,
.save2:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
.save:hover,
.save:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
