body {
    background-color: #0b0c1b;
    color: #fff;
    font: 500 1.5rem/1.75 "Inter", sans-serif;
    font-size: 12px;
    text-align: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logoImg {
    padding: 10px;
  }
  
  .logoText {
    font-size: 12px;
  }
  
  .status {
    padding-bottom: 5px;
  }
  
  .Header {
    padding: 0px;
    margin: 0;
    font-size: 20px;
  }
  
  .wptk {
    border-radius: 2px;
    background-color: #fff;
    outline: solid;
    border: solid 3px white;
    color: #000;
    padding: 5px 5px;
    margin: 0px 0;
    box-sizing: border-box;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    background: #e33b3b;
    border-radius: 4px;
    padding: 5px;
    transition-duration: 0.3s;
  }
  
  .link:hover,
  .link:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  
  .link-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
  }
  
  .save {
    cursor: pointer;
    border: none;
    color: #fff;
    text-decoration: none;
    background: #2d8acc;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition-duration: 0.3s;
  }
  
  .save:hover,
  .save:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  